<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pre_log.css') }}"> 
</head>
<body>
    <div class="register-container">
        <div class="register-box">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-img">
            </div>
            <h2>PASSWORD RESET</h2>
            <form action ="{{ url_for('reset_password_route') }}" method="POST">
                <input type="text" id="username" name="username" class="input-field" placeholder="Nhập tên đăng nhập" required>
                <input type="password" id="new-password" name='new_password' class="input-field" placeholder="Nhập mật khẩu mới" required>
                <input type="password" id="confirm-password" name='confirm_password' class="input-field" placeholder="Nhập lại mật khẩu mới" required>
                <input type="text" id="employee-code" name='employee_code' class="input-field" placeholder="Mã code nhân viên" required>
                <input type="password" id="employee-secret" name='personal_password'class="input-field" placeholder="Mật khẩu riêng của nhân viên" required>
                <p id="error-msg" style="color:red; font-size: 13px;"></p>
                <button type="submit" class="register-button">Xác nhận</button>
                <p class="login-text">Quay lại <a href="{{url_for('login_route')}}" class="login-link">Đăng nhập</a></p>
            </form>
        </div>
    </div>
</body>
</html>
